
.header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 80px;
    border-bottom: 1px solid whitesmoke;
}

.avatar {
    cursor: pointer;
}

.avatar:hover {
    opacity: 0.8;
}

.search {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 2px;
}

.searchInput {
    outline-width: 0;
    flex: 1;
    display: block;
    width: 1000%;
    border: none;
    background-color:white;
    color: #111;
    padding: 14px 28px;
    font-size: 16px;
}

.searchButton {
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    display: block;
    width: 100%;
    border: none;
    background-color:white;
    color: #111;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.searchButton:hover {
    background-color: whitesmoke;
}